<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoWeet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwifteriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9515F4219C9C05D00850141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9515F4C19C9C05D00850141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99C1A8719C71CE0007F2E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A99C1A9E19C71CE0007F2E97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
